<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dc306ebb-61cc-46f6-9ba3-dc8a7b742cc7/resourcegroups/ImageShare20211122163251ResourceGroup/providers/Microsoft.Web/sites/ImageShare20211122163729</ResourceId>
    <ResourceGroup>ImageShare20211122163251ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imageshare20211122163729.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>d7515fd2-297d-45bc-b681-d1d193a23b2a</ProjectGuid>
    <PublishUrl>https://imageshare20211122163729.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ImageShare20211122163729</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>